@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shafarik&family=Underdog&display=swap');
*{
	font-family: "Exo 2", sans-serif;
}
main{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    text-align: center;
}
img{
    margin: auto;
}