@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shafarik&family=Underdog&display=swap');
body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
	position: relative;
    background-color: #ede5dd;
}
*{
	font-family: "Exo 2", sans-serif;
	scroll-behavior: smooth;
}
header{
	display: flex;
	gap:0px;
	flex-direction: column;
	h1{
		font-family: "Underdog", system-ui;
		text-align: center;
	}
}
nav{
	height: 30px;
	position: sticky;
	top: 0px;
    padding:8px;
	border-bottom: 3px solid #023f32;
	background-color: #036C56;
}
ul{
    list-style: none;
    padding: none;
    display: flex;
	padding: 0px;
	padding:0px 10px;
    margin: 0px;
	gap: 30px;
}
li{
	transition: 2s;
	text-align: center;
	padding: 5px;
	width: 22%;
}
li a{
    text-decoration: none;
    color: black;
}
li:hover{
	background-color: #3EB489;
	transform: scale(1.1);
	border: 3px solid #023f32;
	border-radius: 5px;
}
.header_box{
    padding: 20px 15px;
	width: 100%;
	border-bottom: 3px solid #023f32;
}
.header_container{
	width: 100%;
	background-color: #3EB489;
    height: 270px;
    display: flex;
    flex-direction: row;
}

section{
	padding: 60px;
	height: 500px;
}
article{
    padding: 0px 10px;
	margin-top: 5px;
	border-top:3px solid #023f32;

}
footer{
	text-align: center;
	padding: 0px;
    margin: 0px;
	background-color: #036C56;
	width: 100%;
	position: absolute;	
	bottom: -20px;
	hr{
		color: #ffffff;
	}
}
.red{
	color: red;
}
.tpar {
	text-indent: 40px;
}
